*.o
fortuner

.deps
Makefile
Makefile.in
autom4te.cache
aclocal.m4
compile
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
depcomp
install-sh
missing
stamp-h1

m4

ABOUT-NLS
intltool-extract.in
intltool-merge.in
intltool-update.in

po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
po/stamp-it

misc/fortuner.desktop
