[Desktop Entry]
Name=Fortuner
Comment=Shows fortunes
Exec=fortuner
Icon=fortuner
Type=Application
Categories=Game;Amusement;Qt;
Terminal=false
StartupNotify=false
